{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{% include 'common/header.html' %}

<div class="container">
    <h1>Mon compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email vérifié</th>
                <td>{{ user.isVerified ? '✅' : '❌' }}</td>
            </tr>
            <tr>
                <th>Dénomination</th>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-light" href="{{ path('account_edit', {'id': user.id}) }}">Mettre à jour</a>

    {{ include('account/_delete_form.html.twig') }}

    <h1>Mes places</h1>
    <table style="border: 1px solid white;  !important;">
        <thead style="border: 1px solid white;  !important;">
            <th>ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Code promo</th>
        </thead>
        <tbody>
    {% for t in tickets %}
        <tr style="border: 1px solid white;  !important;">
            <td>{{t.id}}</td>
            <td>{{ t.date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")|capitalize }}</td>
            <td>{{ (t.ticketType) ? t.ticketType: 'Aucun' }}</td>
            <td>{{ (t.promoCode) ? t.promoCode : 'Aucun' }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% include 'common/footer.html' %}
{% endblock %}
