{% extends 'base.html.twig' %}

{% block title %}Login Open Parc{% endblock %}

{% block body %}
{% include 'common/header.html' %}

<div class="col-md pt-5 lightprimary">
    <div class="pt-5 pb-3 mb-5 border dim500 center">
        <form id="login_form" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <label class="logform bold">PLEASE SIGN IN</label>
            <div class="logform">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="margeEmail" autocomplete="email" required>
            </div>
            <div class="logform">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="margePassword" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn button mt-3 mb-3" type="submit">Sign in</button>
        </form>
    </div>
</div>

<p class="text-center">You aren't registered yet ?<p> <a class="btnlr btn btn-success mb-3" href="{{ path('app_register') }}">Register</a>
<hr>
<h5 class="titreT">Ceci est du remplissage</h5>
<p class="terms">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>

{% include 'common/footer.html' %}

{% endblock %}
