{% extends 'base.html.twig' %}

{% block title %}Register Open Parc{% endblock %}


{% block body %}
{% include 'common/header.html' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="col-md pt-5 lightprimary">
    <div id="register_form" class="pt-5 pb-5 mb-5 border dim500 center">
        <div>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm) }}
                <button type='commit' class='btn button'>Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
<p class="text-center">You are already registered ?<p> <a class="btnlr btn btn-success mb-3" href="{{ path('app_login') }}">Sign In</a>
<hr>
<h5 class='titreT'>TERMS</h5>
<p class='terms'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p class='terms'>Les pingouins de Madagascar sont de jolis petits êtres. Qu'est-ce qu'un lépreux dans un verre d'eau ? Un cachet effervescent.  
<p class="termhover" class="terms">Toute correctrice de notre classe se créant un compte accepte de nous mettre un 20. Il est impossible de refuser cette condition, il suffisait de bien lire</p>
<style>
    .termhover{
        color: #fd7e14;
    }
    .termhover:hover{
        color:white;
    }
</style>
{% include 'common/footer.html' %}

{% endblock %}

