{% extends 'base.html.twig' %}

{% block title %}Register Open Parc{% endblock %}


{% block body %}
{% include 'common/header.html' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="col-md pt-5 lightprimary">
    <div class="text-center pt-5 pb-5 mb-5 border">
        <h5>Register</h5>
        {{ form_start(registrationForm) }}
        <div class='pl-4'>{{ form_label(registrationForm.email) }} {{ form_widget(registrationForm.email) }}</div>
        {#<div class='pl-4'>{{ form_label(registrationForm.firstName) }} {{ form_widget(registrationForm.firstName) }}</div>
        <div class='pl-4'>{{ form_label(registrationForm.lastName) }} {{ form_widget(registrationForm.lastName) }}</div>#}
        <div class='pl-4'>{{ form_label(registrationForm.plainPassword) }} {{ form_widget(registrationForm.plainPassword)}} </div>
        <div>{{ form_label(registrationForm.agreeTerms) }} {{ form_widget(registrationForm.agreeTerms)   }}</div>

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% include 'common/footer.html' %}

{% endblock %}

