{% extends 'base.html.twig' %}

{% block title %}Register Open Parc{% endblock %}

{% block body %}
{% include 'common/header.html' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="col-md pt-5 lightprimary">
    <div class="pt-5 pb-5 mb-5 border dim500 center">
        {{ form_start(form) }}
            {{ form_row(form, {"id":"student"}) }}
            <p id="price">Prix : <span id="displayPrice">{{ ppp }}</span>€</p>
            <button type='commit' class='btn button'>Réserver</button>
        {{ form_end(form) }}
    </div>
</div>

{% include 'common/footer.html' %}

{% endblock %}

{% block javascript %}
<script>
    const ticket_reservation_quantity = document.getElementById('ticket_reservation_quantity');
    const displayPrice = document.getElementById('displayPrice');
    ticket_reservation_quantity.addEventListener('change', (event) => {
        let v = (ticket_reservation_quantity.value*{{ ppp }}).toString();
        displayPrice.textContent  = (v>=0) ? v : 0;
    });
</script>
{% endblock %}
