{% extends 'base.html.twig' %}

{% block title %}Accueil Open Parc{% endblock %}

{% block body %}
{% include 'common/header.html' %}

<div class="first-container">
    {% for day in days %}
        <div class="day">
            <div>
                <h4>{{ day.name }}</h4>
                <h5>{{ day.date }}</h5>
                <p>{{ day.description }}<br>Horaires à confirmer sur www.openparc.com</p>
            </div>
            <a class="btn btn-dark" href="{{ path('ticketing') }}/{{ day.name }}">Réserver</a>
        </div>
    {% endfor %}
</div>

<div class="container ">

</div>


{% include 'common/footer.html' %}
{% endblock %}
